@define-color rosewater #f4dbd6;
@define-color flamingo #f0c6c6;
@define-color pink #f5bde6;
@define-color mauve #c6a0f6;
@define-color red #ed8796;
@define-color maroon #ee99a0;
@define-color peach #f5a97f;
@define-color yellow #eed49f;
@define-color green #a6da95;
@define-color teal #8bd5ca;
@define-color sky #91d7e3;
@define-color sapphire #7dc4e4;
@define-color blue #8aadf4;
@define-color lavender #b7bdf8;
@define-color text #cad3f5;
@define-color subtext1 #b8c0e0;
@define-color subtext0 #a5adcb;
@define-color overlay2 #939ab7;
@define-color overlay1 #8087a2;
@define-color overlay0 #6e738d;
@define-color surface2 #5b6078;
@define-color surface1 #494d64;
@define-color surface0 #363a4f;
@define-color base #24273a;
@define-color mantle #1e2030;
@define-color crust #181926;
@define-color spotify-green #1ED760;
@define-color suse-green #008000;
* {
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14pt;
  min-height: 0;
}
window.HDMI-A-2 * {
  font-size: 13pt;
}

tooltip {
  color: @flamingo;
  background: @mantle;
  border-radius: 15px;
  border-width: 2px;
}

tooltip label {
  color: @flamingo;
  font-family: "Ubuntu Nerd Font";
  font-size: 14pt;
  font-weight: bold;
}
window#waybar {
  background-color: alpha(@base, 0.8);
  color: @text;
  padding: 0px;
  margin: 0px;
  border-radius: 0px;
  border-width: 2px;
  font-family: "Ubuntu Nerd Font";
  transition-property: background-color;
}

window#waybar > box {
  box-shadow: 0px 1px 1px 0px alpha(@blue, 0.4);
  margin-bottom: 5px;
}

#waybar .horizontal {
  padding-left: 5px;
  padding-right: 5px;
}

window#waybar.hidden {
  opacity: 0.7;
}

window#waybar.empty {
  background-color: alpha(@base, 0.5);
}

window#waybar.empty #window {
  padding: 0px;
  margin: 0px;
  border: 0px;
  background-color: @crust;
}

window#waybar.solo #window {
  padding-left: 5px;
  padding-right: 5px;
  color: @text;
}

window#waybar.floating #window {
  padding-left: 5px;
  padding-right: 5px;
  color: @red;
}

window#waybar.tiled #window {
  padding-left: 5px;
  padding-right: 5px;
  color: @text;
}
window#waybar.stacked #window {
  padding-left: 5px;
  padding-right: 5px;
  color: @blue;
}
window#waybar.tabbed #window {
  padding-left: 5px;
  padding-right: 5px;
  color: @text;
}

window#waybar.firefox {
  color: @yellow;
  font-family: "Ubuntu Nerd Font";
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#workspaces label {
  font-size: 1.4em;
  margin-left: 0px;
  margin-right: 0px;
  font-weight: bold;
  font-family: "Symbols Nerd Font";
}

box#workspaces {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 18px;
  background-color: alpha(@surface0, 0.7);
}

#workspaces button {
  color: alpha(@lavender, 0.35);
  background-color: transparent;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  font-family: "Symbols Nerd Font";
}

#workspaces button:hover {
  color: alpha(@teal, 0.95);
  /* cursor: pointer; */
  background: alpha(@on-secondary-container, 0.5);
  border-radius: 8px;
  border: none;
  font-weight: bold;
  font-family: "Symbols Nerd Font";
}

#workspaces button.focused {
  color: @mauve;
  border: none;
}

#workspaces button.active {
  color: @pink;
  border: none;
}

#workspaces button.urgent {
  color: @red;
  border: none;
}

#battery,
#wireplumber,
#workspaces,
#memory,
#cpu,
#temperature,
#bluetooth {
  color: @lavender;
  padding-right: 5px;
  padding-left: 1px;
  background: @mantle;
  margin-top: 5px;
  margin-bottom: 5px;
}

#clock {
  color: @text;
  font-family: "ComicShannsMono Nerd Font";
  font-size: 1.2em;
  background: transparent;
}

#battery:hover,
#wireplumber:hover,
#workspaces:hover,
#memory:hover,
#cpu:hover,
#temperature:hover,
#custom-notifications:hover,
#bluetooth:hover,
#network:hover {
  color: @sapphire;
}

#custom-icon {
  color: @blue;
  border-radius: 15%;
  min-width: 25px;
  min-height: 25px;
  font-size: 25px;
  font-weight: bold;

  min-width: 25px;
  min-height: 25px;

  font-size: 25px;
  font-weight: bold;

  border-radius: 15%;
  /* Remove padding — this is key */
  padding-right: 15px;
}

#window,
#mode {
  font-family: "JetBrainsMono Nerd Font";
  padding-right: 3px;
  padding-left: 1px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#window,
#mode {
  color: @lavender;
}

#idle_inhibitor {
  margin: 5px;
  padding-left: 5px;
  padding-right: 5px;
  color: @blue;
}

#idle_inhibitor:hover {
  color: @sapphire;
}

#idle_inhibitor.activated {
  color: @peach;
}

#network,
#bluetooth,
#cpu,
#memory,
#temperature {
  padding-left: 12px;
  padding-right: 5px;
  background: @mantle;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
  font-family: "Symbols Nerd Font";
}

#network {
  color: @sapphire;
  border-radius: 15px 0px 0px 15px;
  padding-left: 18px;
}

#bluetooth {
  color: @peach;
}

#cpu {
  color: @red;
}

#memory {
  color: @yellow;
}

#temperature {
  color: @green;
}

#clock {
  padding-right: 5px;
  padding-left: 5px;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 15px 15px 15px 15px;
}

#tray {
  background: transparent;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 15px;
}

#tray menu {
  background: @mantle;
  border-radius: 1px;
  border: 1px solid @rosewater;
}

#wireplumber {
  padding-left: 5px;
  padding-right: 5px;
  color: @flamingo;
  font-family: "Symbols Nerd Font";
  font-size: 20px;
  font-weight: bold;
}

#language {
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 15px;
  background: @sky;
  color: @mantle;
}
#language:hover {
  color: @crust;
}
#battery {
  padding-right: 15px;
  padding-left: 15px;
  background: @mantle;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: "Symbols Nerd Font";
  font-size: 20px;
  font-weight: bold;
  color: @yellow;
}

#battery:hover {
  color: @maroon;
}

#power-profiles-daemon {
  padding-right: 15px;
  padding-left: 1px;
  background: @mantle;
  color: @teal;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 0px 15px 15px 0px;
}
#power-profiles-daemon.performance {
  color: @red;
}
#power-profiles-daemon.balanced {
  color: @yellow;
}
#power-profiles-daemon.power-saver {
  color: @green;
}
#custom-spotify,
#mpris {
  margin-top: 10px;
  margin-left: 15px;
  margin-bottom: 10px;
  padding-right: 5px;
  padding-left: 5px;
  background: @spotify-green;
  color: @base;
  border-radius: 15px 15px 15px 15px;
}

#custom-privacycheck {
  margin-right: 5px;
  padding-right: 5px;
  padding-left: 5px;
}

#privacy {
  padding-right: 5px;
  padding-left: 5px;
  background: @base;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 15px;
}

#privacy-item.audio-in {
  color: @sapphire;
}

#privacy-item.audio-out {
  color: @spotify-green;
}

#privacy-item.screenshare {
  color: @peach;
}

#privacy-item:hover {
  color: @green;
}

#privacy-item {
  color: @sky;
  padding-right: 5px;
  padding-left: 5px;
}

#windowcount {
  color: @pink;
  font-family: "Symbols Nerd Font";
  font-size: 1.5em;
  font-weight: bold;
}

#custom-power {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
  color: @teal;
  font-family: "Symbols Nerd Font";
  font-size: 20px;
  font-weight: bold;
}

#custom-power:hover {
  color: @red;
}
